# Dependencies
node_modules
.pnpm-store


# Build outputs
dist
.next
.turbo

# Environment
.env
.env.local
.env.production
.env.backup

# OS
.DS_Store

# Prisma
packages/db/src/generated
apps/api/uploads/
.env*.backup
